_bookdown_files/
_book/
_NOT_USED/
bookdown_cache/
bookdown_files/
.Rproj.user
.Rhistory
.RData
.Ruserdata
bookdown.Rmd
bookdown.log
bookdown-crc.Rproj
*.aux
*.bbl
*.bcf
*.idx
*.lof
*.lot
*.toc
*.xml
*~
